<!DOCTYPE html>
<html>

<head>
  <title>Device Manager</title>
  <script src="/lib/jquery/dist/jquery.min.js"></script>
  <script src="/lib/jquery-address/src/jquery.address.js"></script>
  <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.css">
  <script src="https://cdn.jsdelivr.net/npm/fomantic-ui@2.9.0/dist/semantic.min.js"></script>

  <!-- <script src="/lib/socket.io/socket.io.js"></script> -->
  <link rel="apple-touch-icon" sizes="180x180" href="/static/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/static/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/static/favicon-16x16.png">
  <link rel="manifest" href="/static/site.webmanifest">
  <!-- <link rel="stylesheet" type="text/css" href="/static/style.css"> -->
</head>

<template id="deviceRow">
  <tr>
    <td class="ui input">
      <input class="deviceName" type="text" value="???" />
    </td>
    <td class="deviceMAC"></td>
    <td class="lastUpdate"></td>
    <td class="currentVersion"><%= device.currentFirmware %> <%= device.currentVersion %></td>
    <td>
      <div class="ui fluid search selection dropdown">
        <input type="hidden" name="firmwareType" value="<%= device.assignedFirmware %>">
        <i class="dropdown icon"></i>
        <div class="default text">Type</div>
        <div class="menu">
<!--          <% firmwareTypes.forEach(function(firmwareType) { %>-->
<!--          <div class="item" data-value="<%= firmwareType %>"><%= firmwareType %></div>-->
<!--          <% }); %>-->
        </div>
      </div>
    </td>
  </tr>
</template>

<template id="firmwareRow">
  <tr>
    <td class="firmwareType"></td>
    <td class="firmwareVersion"></td>
    <td class="downloadCount">Unknown</td>
    <td class="downloadFirmware"><i class="cloud download alternate icon"></i></td>
    <td class="deleteFirmware"><i class="trash alternate icon"></i></td>
  </tr>
</template>

<body class="ui container">
  <div class="ui top attached inverted menu">
    <a class="active item" data-tab="devices">
      <i class="microchip icon"></i>
      Devices
    </a>
    <a class="item" data-tab="firmware">
      <i class="compact disc icon"></i>
      Firmware
    </a>
  </div>

  <!-- Devices tab -->
  <div class="ui bottom attached active tab segment" data-tab="devices">
    <h2 class="ui header">
      <i class="microchip icon"></i>
      <div class="content">Devices</div>
    </h2>

    <div class="ui device column">
      <div class="ui active dimmer">
        <div class="ui text loader">Loading Devices</div>
      </div>
      <table class="ui celled device table">
        <thead>
          <tr>
            <th>Name</th>
            <th>MAC</th>
            <th>Last Update Request</th>
            <th>Current Firmware</th>
            <th>Assigned Firmware</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Firmware tab -->
  <div class="ui bottom attached tab segment" data-tab="firmware">
    <h2 class="ui header">
      <i class="compact disc icon"></i>
      <div class="content">Firmware</div>
    </h2>

    <div class="ui firmware column">
      <div class="ui active dimmer">
        <div class="ui text loader">Loading Firmware</div>
      </div>
      <table class="ui celled firmware table">
        <thead>
          <tr>
            <th>Type</th>
            <th>Version</th>
            <th>Downloads</th>
            <th>Download</th>
            <th>Delete</th>
          </tr>
        </thead>
        <tbody></tbody>
      </table>
    </div>
  </div>

  <script src="/static/firmware.js"></script>
  <script>
    $('.ui.menu .item').tab({
      history: true,
      historyType: 'hash'
    })
    $('.ui.selection.dropdown').dropdown({
      clearable: true
    })

    loadAllFirmware()
  </script>
</body>
</html>
